.title {
    display: flex;
    align-content: center;
    align-items: center;
    background: rgb(79, 131, 118);
    color: black;
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    align-content: center;
    align-items: center;
    width: auto;
    height: auto;
    border: 6px solid black;
    justify-content: center;
   
}

ul { 
    color: lightslategray;
    font-size: 55px;
    font-weight:  800;
    text-align: center;
    list-style: inside;
    list-style-type: none;

}

.box {
    display: flex;
    background: lightgray;
    border: 6px solid black;
    align-content: center;
    align-items: center;
    width: auto;
    height: auto;
    justify-content: center;

}

.item {
    width: auto;
    height: auto;
    border: 5px solid black;
    padding: 5px;
    margin: 12px;
}

