.title {
    display: flex;
    align-content: center;
    align-items: center;
    background: blanchedalmond;
    color: rgb(65, 58, 58);
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-content: center;
    align-items: center;
    width: auto;
    height: auto;
    border: 3px solid green;
}

ul { 
    color: lightslategray;
    font-size: 55px;
    font-weight:  800;
    text-align: center;
    list-style: inside;
}

.box {
    display: flex;
    background: lightgray;
    border: 6px solid black;
    align-content: center;
    align-items: center;
    width: auto;
    height: auto;

}
